@model WebMVCDemo.Models.Country

@{
    ViewData["Title"] = "Privacy";
}

<h1>Privacy</h1>
<p>This is were I will write a privacy policy.</p>
<div class="form-group">
    <label class="control-label">Hello</label>
</div>

