@using Microsoft.AspNetCore.Identity

@model IEnumerable<IdentityRole>

@{
    ViewData["Title"] = "ListRoles";
}

<h1>ListRoles</h1>

@if (Model.Any())
{
    foreach(var role in Model)
    {
        <div class="card">
            <div class="card-header">
                Role Id : @role.Id
            </div>
            <div class="card-body">
                <h5 class="card-title">Role Name : @role.Name</h5>
            </div>
            <div class="card-footer">
                <a class="btn btn-primary" asp-action="EditRoles" asp-controller="Admin" asp-route-id="@role.Id">Edit</a>
                <a href="#" class="btn btn-danger">Delete</a>
            </div>
        </div>
    }
}
else
{
    <div class="card">
        <div class="card-header">
            No roles created yet.
        </div>
        <div class="card-body">
            <h5 class="card-header">
                Use the button below to create a card.
            </h5>
            <a class="btn btn-primary" style="width:auto" 
               asp-controller="Admin" asp-action="CreateRole">
            </a>
        </div>
    </div>
}