@{
        ViewData["Title"] = "Home Page";
    }

<div class="jumbotron">
    <h1 class="display-4">Introduction</h1>
    <p>
        Welcome. This is my MVC Project I created to help learn ASP.NET by implementing a variety of features such as
        CRUD Operations, Authentication and Authorization.
    </p>

    <img src ="~/images/asplogo.png" />
        
</div>


