
@{
    ViewData["Title"] = "InvalidPassword";
}

<div class="alert-danger" >
    <h2>
        The password you entered was invalid. Please make sure your password is at least at character long
        and has 1 number and 1 uppercase letter.
    </h2>
</div>

