
@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>


@*<form action="@Url.Action("Login", "Sessions")" method="post">
    <div class="form-group">
        The for attribute bounds the label to the first id that matches it 
        <label for="username">Username</label>
        The name attribute allows us to assess the input data when the user submits it 
        <input class="form-control" id="username" type="text" placeholder="Enter username" name="username" />
        <small id="usernameHelp" class="form-text text-muted">Don't share your username with anyone</small>
    </div>
    <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" required id="password" placeholder="Password" name="password" />
        <small id="passwordHelp" class="form-text text-muted">
            Make sure your password is 8 characters long and has 1 number and 1 upper case letter.
        </small>
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
</form>*@


<body>
    <div class="container">
        <div class="row">
            <div class="col-sm-9 col-md-7 col-lg-5 mx-auto">
                <div class="card card-signin my-5">
                    <div class="card-body form-group">
                        <h5 class="card-title text-center">Sign In</h5>
                        <form class="form-signin" action="@Url.Action("Login", "Sessions")" method="post">
                            <div class="form-label-group">
                                <input type="text" id="username" class="form-control" placeholder="Username" required autofocus name="username">
                                <label for="username" id="username">Username</label>
                            </div>

                            <div class="form-label-group">
                                <input type="password" id="password" class="form-control" placeholder="Password" required name="password">
                                <label for="password">Password</label>
                            </div>

                            <div class="custom-control custom-checkbox mb-3">
                                <input type="checkbox" class="custom-control-input" id="customCheck1">
                                <label class="custom-control-label" for="customCheck1">Remember password</label>
                            </div>
                            <button class="btn btn-lg btn-primary btn-block text-uppercase" type="submit">Sign in</button>
                            <hr class="my-4">
                            <!--Feature to be added later-->
                            <button class="btn btn-lg btn-google btn-block text-uppercase" type="submit"><i class="fab fa-google mr-2"></i> Sign in with Google</button>
                            <button class="btn btn-lg btn-facebook btn-block text-uppercase" type="submit"><i class="fab fa-facebook-f mr-2"></i> Sign in with Facebook</button>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
