
@{
    ViewData["Title"] = "Login";
}

<h1>Login Page</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-3">
            <img src="~/images/login_image.jpg" />
        </div>
        <div class="col-md-6">
            <form action="/" method="post">
                <input type="text" name="username" value="" />
                <input type="text" name="password" value="" />
            </form>
        </div>
    </div>
</div>

