
@{
    ViewData["Title"] = "LoginFailure";
}

<div class="alert-warning">
    <h2>
        There was an error attempting to log you in. Have you registered an account yet?
        If not, please click on the link below to register an account. If yes, then make sure your credentials
        are correct.
    </h2>
</div>

