
@{
    ViewData["Title"] = "Register";
}

<h1>Register</h1>

<div class="container">
    <div class="row">
        <div class="col-lg-6">
            <img src="~/images/login_image.jpg" />
        </div>
        <div class="col-md-6">
            <form action="/Sessions/Register" method="post">
                <input type="text" required name="username" value="" />
                <input type="text" required name="password" value="" />
                <button type="submit">Submit</button>
            </form>
        </div>
    </div>
