
@{
    ViewData["Title"] = "RegisterFailure";
}


<div class="alert-warning">
    There was a problem creating an account. Please make sure your password is at least 8 characters long 
    with at least one number and one uppercase letter.
</div>

