<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - WebMVCDemo</title>
    <link rel="stylesheet" href="~/lib/bootstrap/dist/css/bootstrap.css" />
    <link rel="stylesheet" href="~/css/site.css" />
</head>
<body>
    <header>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-light mb-3">
            <div class="container">
                <a class="navbar-brand" asp-area="" asp-controller="Home" asp-action="Index">WebMVCDemo</a>
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target=".navbar-collapse" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        @* Asp-area attribute sets the area name used to set the appropriate route. Areas are an asp.net feature used to 
                            organize releated functionality into a group *@
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Index">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
                        </li>
                        <li class="nav-item ml-auto"  >
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sessions" asp-action="Login">Login</a>
                        </li>
                        <li class="nav-item ml-0">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sessions" asp-action="Register">Register</a>
                        </li>
                        <li class="nav-item ml-0">
                            <a class="nav-link text-dark" asp-area="" asp-controller="Sessions" asp-action="Logout">Logout</a>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenuCountries" data-toggle="dropdown">Countries</button> 
                            @* ARIA stands for - Accessible Rich Internet Applications which help make web content 
                               more accessible to people with disabilities. This allows the develop to pass the content to another
                               assistive technologies.*@
                            <div class="dropdown-menu" aria-labelledby="dropDownMenu">
                                <a class="dropdown-item" asp-area="" asp-controller="Countries" asp-action="Index">Show List of Countries</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropDownMenuAdmin" data-toggle="dropdown">Admin Controls</button>
                            <div class="dropdown-menu" aria-labelledby="dropDownMenuAdmin">
                                <a class="dropdown-item" asp-controller="Admin" asp-action="ListRoles">Show Roles</a>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
    <div class="container">
        <main role="main" class="pb-3">
            @RenderBody()
        </main>
    </div>

    <footer class="border-top footer text-muted">
        <div class="container">
            &copy; 2020 - WebMVCDemo - <a asp-area="" asp-controller="Home" asp-action="Privacy">Privacy</a>
        </div>
    </footer>
    <script src="~/lib/jquery/dist/jquery.min.js"></script>
    <script src="~/lib/bootstrap/dist/js/bootstrap.bundle.min.js"></script>
    <script src="~/js/site.js" asp-append-version="true"></script>
    @RenderSection("Scripts", required: false)
</body>
</html>
